.butterfly-container {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
    z-index: 9999;
}

.scroll-butterfly {
    position: absolute;
    pointer-events: auto;
    /* allow clicking */
}

.butterfly {
    width: 100px;
}



.b2-1-wrapper {
    position: absolute;
    top: 10%;
    left: 90%;
    transform: scale(0.8) rotate(-30deg);
}




.b1-1 {
    bottom: 10%;
    left: 3%;
    transform: scale(0.8);
}

.b1-2 {
    top: 30%;
    left: 80%;
    transform: scale(1);
}

.b1-3 {
    top: 40%;
    left: 30%;
    transform: scale(0.9);
}

.b2-1 {
    top: 15%;
    right: 29%;
    transform: scale(1.1);
}

.b2-2 {
    top: 40%;
    right: 25%;
    transform: scale(0.9);
}

.b2-3 {
    top: 50%;
    right: 88%;
    transform: scale(1);
}

.b3-1 {
    bottom: 30%;
    left: 13%;
    transform: scale(0.8);
}

.b3-2 {
    bottom: 50%;
    right: 50%;
    transform: scale(1);
}

.b3-3 {
    bottom: 85%;
    left: 90%;
    transform: scale(1.1);
}

.scroll-butterfly {
    position: absolute;
    top: 20%;

}